html{
    font-size:100%;
    height:100vh;
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    line-height: 1.3;
    background:$LightGray;
    font-family: 'Karla', sans-serif;
    font-size:1rem;
    
}

.flex{
    display:flex;

    &-j-c{
        justify-content: center;
    }

    &-j-sb{
        justify-content: space-between;
    }

    &-a-c{
        align-items: center;
    }
}

.hide-mobile{
    @include breakpoint-up(large){
        display:none;
    }
}

.hide-desktop{
    @include breakpoint-down(medium){
        display:none;
    }
}